<nav class="navbar">
  <a routerLink="/home" class="logo text-reset text-decoration-none">
    <div class="d-flex gap-2 align-items-center">
      <img src="assets/logo.png" alt="Logo">
      <h1>Blast's Utilities</h1>
    </div>
  </a>

  <div class="menu">
    <button class="hamburger" (click)="toggleMenu()">☰</button>

    <ul *ngIf="menuOpen" class="dropdown" (clickOutside)="closeMenu()">
      <li *ngFor="let item of menuItems" (click)="navigate(item.route)">
        {{ item.label }}
      </li>
    </ul>
  </div>
</nav>
