<div class="panel">
  <div class="d-flex align-items-center justify-content-center">
    <div>
      <div class="form-group">
        <label>URL</label>
        <input class="form-control" [(ngModel)]="url" (input)="updateQRCode()" placeholder="https://example.com"/>
      </div>

      <div class="form-group">
        <label class="pb-2">Dot Style</label>
        <div class="dot-style-container">
          <button
            *ngFor="let dotStyle of styles"
            class="dot-style-btn"
            [ngClass]="{ 'selected': dotStyle === this.dotStyle }"
          >
            <img src="assets/qrcode/dots/{{dotStyle}}.png" (click)="setDotStyle(dotStyle)"  alt="{{dotStyle}}"/>
          </button>
        </div>
      </div>

      <div class="form-group">
        <label class="pb-2">Corner Style</label>
        <div class="dot-style-container">
          <button
            *ngFor="let cornerStyle of styles"
            class="dot-style-btn"
            [ngClass]="{ 'selected': cornerStyle === this.cornerStyle }"
          >
            <img src="assets/qrcode/corners/{{cornerStyle}}.png" (click)="setCornerStyle(cornerStyle)"  alt="{{cornerStyle}}"/>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <div class="form-group align-items-center justify-content-center">
          <label>Dot Color</label>
          <br>
          <div class="d-flex justify-content-center">
            <compact-color-picker [(color)]="dotColor" (colorChange)="updateQRCode()"></compact-color-picker>
          </div>
        </div>
        <div class="px-4"></div>
        <div class="form-group">
          <label>Background Color</label>
          <br>
          <div class="d-flex justify-content-center">
            <compact-color-picker class="ml-2" [(color)]="backgroundColor" (colorChange)="updateQRCode()"></compact-color-picker>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Logo Image</label>
        <input class="form-control" type="file" (change)="onLogoUpload($event)" />
      </div>

      <div class="d-flex justify-content-center">
        <div #qrCanvas class="mt-4 mb-3" style="box-shadow: none"></div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" (click)="downloadQRCode()">Download QR Code</button>
      </div>
    </div>
  </div>
</div>
