:host {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  text-align: center;
}

files-preview {
  display: block;
  height: auto;
  max-width: 100%;
}

.upload-another-text {
  color: gray;
  text-decoration: none;
}

.upload-another-text:hover {
  text-decoration: underline;
  cursor: pointer;
}


