<div>
  <div *ngIf="id">
    <div *ngIf="fileExtension">
      <!-- Images -->
      <img *ngIf="['png', 'jpg', 'jpeg', 'gif', 'webp'].includes(fileExtension)" [src]="fileUrl" alt="Image" class="img-fluid files-preview" />

      <!-- Video -->
      <video *ngIf="['mp4', 'webm', 'ogg'].includes(fileExtension)" [src]="fileUrl" controls class="files-preview"></video>

      <!-- Audio -->
      <audio *ngIf="['mp3', 'wav', 'ogg'].includes(fileExtension)" [src]="fileUrl" controls></audio>

      <!-- Download for other file types -->
      <div *ngIf="['jar', 'zip', 'exe', 'pdf', 'txt'].includes(fileExtension)" style="width: 700px" >
        <pdf-viewer
          [src]="fileUrl"
          *ngIf="['pdf'].includes(fileExtension)"
          [render-text]="true"
          [original-size]="false"
          style="width: 400px; height: 500px"
        ></pdf-viewer>

        <p>Download the file below:</p>
        <a [href]="fileUrl" download class="btn btn-primary">Download</a>
      </div>

      <!-- Fallback -->
      <div *ngIf="!['png','jpg','jpeg','gif','webp','mp4','webm','ogg','mp3','wav','jar','zip','exe','pdf','txt'].includes(fileExtension)">
        <p>Unsupported file type.</p>
        <a [href]="fileUrl" download class="btn btn-secondary">Try Downloading</a>
      </div>
    </div>
  </div>
</div>
