<div *ngIf="!direct">
  <div *ngIf="!id">
    <h1 class="mb-2">Upload File</h1>
    <form (submit)="upload($event)" enctype="multipart/form-data">
      <div class="form-group mt-4">
        <input type="file" id="fileInput" (change)="onFileSelected($event)" class="form-control" />
      </div>

      <div class="form-group mt-2">
        <label>
          <div class="form-check form-switch">
            <input
              name="useOriginalName"
              class="form-check-input"
              type="checkbox"
              id="toggleSwitch"
              [(ngModel)]="useOriginalName"
            />
            <label class="form-check-label" for="toggleSwitch">Use original file name</label>
          </div>
        </label>
      </div>

      <button *ngIf="selectedFile" type="submit" class="btn btn-primary mt-3" [ngClass]="{'mb-2': uploading}">Upload</button>

      <div *ngIf="uploading" class="mb-2 mt-2">
        <div class="progress mt-2">
          <div
            class="progress-bar"
            role="progressbar"
            [class.bg-danger]="error"
            [class.bg-success]="success"
            [style.width.%]="uploadProgress"
            [attr.aria-valuenow]="uploadProgress"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ error ? 'There was an error while uploading' : uploadProgress + '%' }}
          </div>
        </div>
      </div>

    </form>
  </div>

  <div *ngIf="fileUrl" class="mb-2 d-flex justify-content-center">
    <app-copy-input label="File URL:" [value]="fileUrl"></app-copy-input>
  </div>
  <div *ngIf="fileUrl" class="mb-2">
    <a class="bi bi-arrow-left upload-another-text" (click)="clear()"> Upload another file</a>
  </div>
</div>

<div *ngIf="id">
  <div *ngIf="fileExtension">
    <!-- Images -->
    <img *ngIf="['png', 'jpg', 'jpeg', 'gif', 'webp'].includes(fileExtension)" [src]="fileUrl" alt="Image" class="img-fluid files-preview" />

    <!-- Video -->
    <video *ngIf="['mp4', 'webm', 'ogg'].includes(fileExtension)" [src]="fileUrl" controls class="files-preview"></video>

    <!-- Audio -->
    <audio *ngIf="['mp3', 'wav', 'ogg'].includes(fileExtension)" [src]="fileUrl" controls></audio>

    <!-- Download for other file types -->
    <div *ngIf="['jar', 'zip', 'exe', 'pdf', 'txt'].includes(fileExtension)" style="display: inline-block" >
      <pdf-viewer
        [src]="fileUrl"
        *ngIf="['pdf'].includes(fileExtension)"
        [render-text]="true"
        [original-size]="true"
        (page-rendered)="onPageRendered($event)"
        style="width: 100%; display: inline-block; height: 75vh;"
      ></pdf-viewer>

      <div *ngIf="direct">
        <p>Download the file below:</p>
        <a [href]="fileUrl" download class="btn btn-primary">Download</a>
      </div>
    </div>

    <!-- Fallback -->
    <div *ngIf="!['png','jpg','jpeg','gif','webp','mp4','webm','ogg','mp3','wav','jar','zip','exe','pdf','txt'].includes(fileExtension) && direct">
      <p>Unsupported file type.</p>
      <a [href]="fileUrl" download class="btn btn-secondary">Try Downloading</a>
    </div>
  </div>
</div>



